{% extends "xk_base.html" %}

{% block head %}
    <script src="static/echarts.js"></script>
    <script src="static/jquery.js"></script>
    <script src="static/xk_mainview.js"></script>
{% endblock %}


{% block body %}
    <div style="height:100vh;margin:auto 0">
        <button id="buttonSaveData" type="button">保存</button>
        <button id="buttonReloadData" type="button">取消保存</button>
        <button id="buttonCreateNode" type="button">创建节点</button>
        <button id="buttonCreateEdge" type="button">创建边</button>
        <button id="buttonDeleteNode" type="button">删除节点</button>
        <button id="buttonDeleteEdge" type="button">删除边</button>
        <button id="buttonUndo" type="button">撤销</button>
        <button id="buttonRedo" type="button">重做</button>
        <button id="buttonExportFile" onclick="download()" type="button">导出文件</button>

        <div id="dialogCreateNode" style="display: none;">
            <form id="createNodeFieldForm" method="post">
                <label for="nodeNameField">名称:</label>
                <input type="text" id="nodeNameField"/>
                <label for="edgeDescribeField">描述:</label>
                <input type="text" id="edgeDescribeField"/>
                <label for="categoryField">所属类目:</label>
                <input type="text" id="categoryField"/>
                <button type="submit">创建</button>
            </form>
        </div>

        <div id="dialogCreateEdge" style="display: none;">
            <form id="createEdgeFieldForm" method="post">
                <label for="edgeNameField">名称:</label>
                <input type="text" id="edgeNameField"/>
                <label for="edgeDescribeField">描述:</label>
                <input type="text" id="edgeDescribeField"/>
                <button type="submit">创建</button>
            </form>
        </div>

        <div id="main" style="width:100%;height:100%;margin:auto auto"></div>
        <script type="text/javascript">
            const highlightInstance = new HighlightClass('value1', 'value2');
            const chartInstance = echarts.init(document.getElementById("main"));
            chartInstance.showLoading(); // 加载等待
            let jsonData = {{ json_data | tojson }};

            chartInstance.hideLoading();// 隐藏加载等待
            chartInstance.setOption(createOption(jsonData));

            const dialogCreateNode = document.getElementById("dialogCreateNode");
            const dialogCreateEdge = document.getElementById("dialogCreateEdge");

            chartInstance.on("click", function (event) {
                console.log(event);
                if (event.dataType === "node") {
                    highlightInstance.addNode(chartInstance, event.name, event.dataIndex);
                    if (highlightInstance.highlightNodeList.length === 2 && dialogCreateNode.style.display === "block") {
                        // 当前已经打开了增加节点的输入框，将输入框关闭
                        dialogCreateNode.style.display = "none";
                        alert("增加节点时不能同时选择两个节点");
                    }
                    if (highlightInstance.highlightNodeList.length < 2 && dialogCreateEdge.style.display === "block") {
                        // 当前已经打开了增加边地输入框，将输入框关闭
                        dialogCreateEdge.style.display = "none";
                        alert("增加边时要同时选择两个节点");
                    }
                } else if (event.dataType === "edge") {
                    highlightInstance.addEdge(chartInstance, event.data, event.dataIndex)
                }
            });

            chartInstance.getZr().on("click", function (event) {
                // 没有 target 意味着鼠标/指针不在任何一个图形元素上，它是从“空白处”触发的。
                if (!event.target) {
                    highlightInstance.reset(chartInstance);
                    if (dialogCreateEdge.style.display === "block") {
                        // 当前已经打开了增加边地输入框，将输入框关闭
                        dialogCreateEdge.style.display = "none";
                        alert("增加边时要同时选择两个节点");
                    }
                }
            });

            document.getElementById("buttonSaveData").addEventListener("click", function (event) {
                const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                formData.append("saveData", 1);
                sendData(formData, undefined);
            });

            document.getElementById("buttonReloadData").addEventListener("click", function (event) {
                const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                formData.append("reloadData", 1);
                sendData(formData, chartInstance);
                window.location.reload();// issues
            });

            document.getElementById("buttonCreateNode").addEventListener("click", function (event) {
                dialogCreateEdge.style.display = "none";
                if (highlightInstance.highlightNodeList.length === 2) {
                    // 点击创建节点的时候，发现高亮了两个节点，就将全部高亮节点取消
                    highlightInstance.resetNode(chartInstance);
                    dialogCreateNode.style.display = "none";
                    alert("增加节点时不能同时选择两个节点");
                } else {
                    if (dialogCreateNode.style.display === "none") {
                        dialogCreateNode.style.display = "block";
                    } else {
                        dialogCreateNode.style.display = "none";
                    }
                }
            });

            document.getElementById("createNodeFieldForm").addEventListener("submit", function (event) {
                // 获取表单内的所有控件
                event.preventDefault()
                dialogCreateNode.style.display = "none"; // 当表单提交时，关闭弹窗
                if (highlightInstance.highlightNodeList.length === 2) {
                    // 点击创建节点的时候，发现高亮了两个节点，就将全部高亮节点取消
                    highlightInstance.resetNode(chartInstance);
                    alert("增加节点时不能同时选择两个节点");
                } else {
                    // 创建节点的时候先检测所有的节点名称，是否重名
                    // const option = chartInstance.getOption();
                    const nodeNames = chartInstance.getOption().series[0].data.map(function (node) {
                        return node.name;
                    });
                    if (nodeNames.indexOf(this.elements['nodeNameField'].value) !== -1) {
                        alert("不能创建同名节点，请修改节点名称");
                    } else {
                        // 不重名的情况下发送数据到后端
                        const formData = new FormData();
                        formData.append("highlightNode", JSON.stringify(highlightInstance.highlightNodeList));
                        formData.append("createNode", JSON.stringify({
                            name: this.elements['nodeNameField'].value,
                            des: this.elements['edgeDescribeField'].value,
                            symbolSize: 50,
                            category: this.elements['categoryField'].value
                        }));
                        sendData(formData, chartInstance);
                    }
                    highlightInstance.reset(chartInstance);
                }
            });

            document.getElementById("buttonCreateEdge").addEventListener("click", function (event) {
                dialogCreateNode.style.display = "none";
                if (highlightInstance.highlightNodeList.length === 2) {
                    if (dialogCreateEdge.style.display === "none") {
                        dialogCreateEdge.style.display = "block";
                    } else {
                        dialogCreateEdge.style.display = "none";
                    }
                } else {
                    dialogCreateEdge.style.display = "none";
                    alert("增加连接时需要同时选择两个节点");
                }
            });

            document.getElementById("createEdgeFieldForm").addEventListener("submit", function (event) {
                // 获取表单内的所有控件
                event.preventDefault();
                dialogCreateEdge.style.display = "none"; // 当表单提交时，关闭弹窗

                const formData = new FormData();
                formData.append("highlightNode", JSON.stringify(highlightInstance.highlightNodeList));
                formData.append("createEdge", JSON.stringify({
                    name: this.elements['edgeNameField'].value,
                    des: this.elements['edgeDescribeField'].value
                }));
                sendData(formData, chartInstance);
                highlightInstance.reset(chartInstance);
            });

            document.getElementById("buttonDeleteNode").addEventListener("click", function (event) {
                dialogCreateEdge.style.display = "none";
                const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                formData.append("highlightNode", JSON.stringify(highlightInstance.highlightNodeList));
                formData.append("deleteNode", 1);
                sendData(formData, chartInstance);
                highlightInstance.resetNode(chartInstance);
                // window.location.reload()
            });

            document.getElementById("buttonDeleteEdge").addEventListener("click", function (event) {
                if (highlightInstance.highlightEdge !== undefined) {
                    const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                    formData.append("highlightLink", JSON.stringify(highlightInstance.highlightEdge));
                    formData.append("deleteLink", 1);
                    sendData(formData, chartInstance);
                    highlightInstance.resetEdge(chartInstance);
                }
                // window.location.reload();
            });

            document.getElementById("buttonUndo").addEventListener("click", function (event) {
                const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                formData.append("undo", 1);
                sendData(formData, chartInstance);
                // window.location.reload()
            });

            document.getElementById("buttonRedo").addEventListener("click", function (event) {
                const formData = new FormData(); // 创建一个FormData对象，包含表单中的所有数据
                formData.append("redo", 1);
                sendData(formData, chartInstance);
                // window.location.reload()
            });

            function download() {
                window.location.href = '{{ url_for('XKnowledge.XKExportFile') }}';
            }
        </script>
    </div>
{% endblock %}

